/* You can add global styles to this file, and also import other style files */

body {
    background: #181818;
    color: hsla(0, 0%, 100%, .6);
}

.top30 {
    margin: 30px 0;
}

.puntero {
    cursor: pointer;
}